body {
    margin: 0;
    border: 0px;
    padding: 0;
    height: fit-content;
    width: fit-content;
    display: flex;
}

main {
    margin-left: 200px;
    padding: 20px;
}

.header {
    background-color: #f1f1f1;
    text-align: center;
    width: 100%;
}
.sidebar {
    background-color: #f1f1f1;
    height: 100vh;
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: #ddd;
}

.documentation {
    flex: 1;
}