/* body {
    margin: 0;
    border: 0px;
    padding: 0;
    height: fit-content;
    width: fit-content;
    display: flex;
} */
/* Reset default margin and padding */
html, body {
    margin: 0;
    padding: 0;
}

  /* Set full width for the header */
.header {
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

  /* Set the sidebar styles */
.sidebar {
    width: 200px;
    background-color: #f8f8f8;
    float: left;
    padding: 20px;
}

  /* Set the documentation styles */
.documentation {
    margin-left: 220px;
    padding: 20px;
}

  /* Clear float and create a new formatting context */
.main-container::after {
    content: "";
    display: table;
    clear: both;
}
